*{margin:0;padding:0;}
li{list-style:none;}
a{
	font-size:12px;
	text-decoration:none;
	color:#757575;
}
body{
	background-color:#f0f1f1;
}
.banxin{
	width:1100px;
	margin:0 auto;
}
.top{
	background-color:#323232;
	height:48px;
}

.top-left li{
	float:left;
	margin-right:15px;
	line-height:48px;
}
.top-left a:hover{
	color:#fff;
	background-color:#dd4012;
}
.top-left a{
	display:block;
	width:88px;
	height:48px;
	text-align:center;
}
.top-right{
	line-height:48px;
	float:right;	
}
.top-right li{
	float:left;
}
.top-right .dianhua a{
	background-image:url(images/dianhua.png);
	background-repeat:no-repeat;
	display:block;
	padding-left:20px;
	background-position:0px 50%;
	float:left;	
}
.top-right .qq a{
	background-image:url(images/qq.png);
	background-repeat:no-repeat;
	width:38px;
	height:18px;
	margin-top:15px;
	float:left;
	margin-left:20px;
}
.top-right .weibo a{
	background-image:url(images/weibo.png);
	background-repeat:no-repeat;
	width:38px;
	height:18px;
	margin-top:15px;
	float:left;
	
}
.top-right .weixin a{
	background-image:url(images/weixin.png);
	background-repeat:no-repeat;
	width:23px;
	height:18px;
	margin-top:15px;
	float:left;	
}
.top-right .youxiang a{
	background-image:url(images/youxiang.png);
	background-repeat:no-repeat;
	width:20px;
	height:18px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
	margin-left:15px;
}
.top-right .dianhua a:hover{
	background-image:url(images/dianhua2.png);
}
.top-right .qq a:hover{
	background-image:url(images/qq2.png);
}
.top-right .weibo a:hover{
	background-image:url(images/weibo2.png);
}
.top-right .weixin a:hover{
	background-image:url(images/weixin2.png);
}
.top-right .youxiang a:hover{
	background-image:url(images/youxiang2.png);
}
.banner1{
	background-image:url(images/beijing.png);
	height:30px;
	padding-top:150px;
	background-repeat:no-repeat;
}
.yinying{
	background-color:rgba(0,0,0,0.2);
	height:30px;
	line-height:30px;	
}
.wenzi2 li{
	float:left;
	margin-right:15px;
	line-height:30px;
	margin-top:25px;
	margin-bottom:25px;
	background-color:#fff;
}
.clear{
	clear:both;
}
.wenzi2 .first a{
	color:#fff;
}
.wenzi2 a:hover{
	color:#fff;
	background-color:#757575;
}
.wenzi2 a{
	display:block;
	width:78px;
	height:26px;
	text-align:center;
}
.wenzi2 .first{
	background-color:#757575;
}
.item{
	float:left;
	width:252px;
	border:1px solid #e3e3e3;
	padding:3px;
	margin-right:20px;
	margin-bottom:35px;
	height:230px;
	background-color:#fff;
	overflow:hidden;
}
.item img{
		width:100%;
}
.item:hover{
	border:1px solid #dd4012;
}
.last{
	margin-right:0px;
}
.zhuye .wenzi3{
	font-size:18px;
	color:red;
	margin-bottom: 10px;
	text-align:center;
}
.wenzi3 a{
	font-size:16px;
	color:#000;
}
.zhuye .wenzi4{
	font-size:14px;
	color:#757575;
	text-align:center;
}
.yema li{
	float:left;
	width:36px;
	height:36px;
	background-color:#fff;
	margin-right:5px;
	line-height:36px;
}
.yema {
	width:250px;
	text-align: center;
	padding-bottom:40px;
	overflow:hidden;
}
.yema a{
	display:block;
}
.yema a:hover{
	color:#fff;
	background-color:#dd4012;
}
.dibu{
	background-color:#323232;
	height:58px;
	padding-top:8px;
}
.dibu-right{
	float:right;
}
.dibu-left{
	float:left;

}
.yi li{
	float:right;
	margin-left:15px;
}
.yi li a{
	color:#999;
}
.yi{
	overflow:hidden;
}
.dibu-right p{
	font-size:12px;
	color:#666;
}
.banner2{
	background-image:url(images/beijing2.png);
	height:30px;
	padding-top:150px;
	background-repeat:no-repeat;
}
.rili{
	margin-top:40px;
	overflow:hidden;
}
.rili-left{
	float:left;
	width:118px;
	border-top:1px solid #a0a0a0;
	padding-top:25px;
	text-align:center;
	position:relative;
	margin-right:40px;
}
.rili-left img{
	position:absolute;
	left:0;
	top:0;
}
.rili-right{
	float:left;
	border-top:1px solid #a0a0a0;
	padding-top:25px;
	
}
.rili-right-left{
	float:left;
	margin-left:15px;
}
.rili-right-right ul{
	overflow:hidden;	
}
.rili-right-right li{
	float:left;
	font-size:12px;
	margin-right:15px;
	margin-top:10px;
	margin-bottom:10px;
	color:#999;
}
.rili-right-right .biaoqian{
	color:#333;
}
.rili-right-right{
	float:left;
	width:680px;
	margin-left:25px;
}
.rili h2{
	font-size:18px;
	color:#dd4012;
}
.m-p{
	margin-bottom: 40px;
}
.chuanyue3{
	background-color:#fff;
}
.biaoti img{
	margin-top:30px;
	margin-bottom:30px;
}
.biaoti ul{
	overflow:hidden;
	margin:0 auto;	
}
.biaoti li{
	float:left;
	font-size:12px;
	margin-right:15px;
	margin-bottom:10px;
	color:#999;
	margin-top:20px;
}
.biaoti .biaoqian{
	color:#333;
}
.biaoti{
	padding-top:40px;
	margin-left:55px;
}
.biaoti .shijian{
	float:right;
	margin-right:55px;
}
.shijian{
	float:left;
	display:block;
	width:100px;
}
.shijian .li{
	float:left;
}
.tupian{
	border-top:1px solid #f0f1f1;
	width:989px;
}
.zhongjian{
	margin:0 auto;
	width:989px;
	color:#3e3e3e;
	font-size:14px;
}
.zhongjian p{
	margin-bottom:30px;
}
.jiewei{
	margin:0 auto;
	width:989px;
	border-top:1px solid #fff;
	padding-bottom:60px;
	margin-bottom:30px;
}
.jiewei li{
	float:left;
}
.jiewei-left{
	float:left;
}
.jiewei-right{
	float:right;
}
.jiewei .biaoqian{
	font-size:12px;
	color:#999;
}
.jiewei .zi{
	font-size:12px;
	color:#333;
}
.banner4{
	background-image:url(images/beijing4.png);
	height:30px;
	padding-top:150px;
	background-repeat:no-repeat;
}